.review-form {
    position: relative;
    z-index: 1;

    &__wrapper {
        background-color: var(--color-bg);
        border-radius: 16px;
        margin: 0 auto;
        padding: 48px 80px;
        width: 680px;

        @include mobile {
            padding: 24px;
            width: 100%;
        }
    }

    &__title {
        @include font(var(--typo-1), 36px, var(--fw-semibold));
        color: var(--color-dark);
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    &__form {
        @include flex-v-center;
        flex-direction: column;
        gap: 12px 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        @include font(var(--typo-1), 12px, var(--fw-normal));
        color: var(--color-gray);
        margin-bottom: 4px;
    }

    &__area,
    &__select {
        @include font(var(--typo-1), 14px, var(--fw-medium));
        border: 1px solid var(--color-stroke);
        border-radius: 6px;
        color: var(--color-dark);
        padding: 10px;

        &::placeholder {
            @include font(var(--typo-1), 14px, var(--fw-normal));
            color: var(--color-gray-50);
        }
    }

    &__select-block {
        position: relative;

        &::after {
            @include size(12px);
            @include absolute(15px, 10px);
            background: {
                image: url("../img/carret-down.svg");
                repeat: no-repeat;
            };
            content: '';
            pointer-events: none;
            z-index: 1;
        }
    }

    &__select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        option:disabled {
            color: var(--color-gray-50);
        }
    }

    &__btn {
        cursor: pointer;
        margin-top: 8px;

        @include mobile {
            width: 100%;
        }
    }
}
