.writing-list {
    &__wrapper {
        display: grid;
        gap: 0 20px;
        grid-template-columns: repeat(4, 300px);

        @include tablet {
            gap: 32px 20px;
            grid-template-columns: repeat(2, 280px);
            justify-content: center;
        }

        @include mobile {
            gap: 0;
            grid-template-columns: 1fr;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        @include mobile {
            border-bottom: 1px solid var(--color-stroke);
            padding: 24px 0;

            &:first-child {
                border-top: 1px solid var(--color-stroke);
            }
        }
    }

    &__title {
        @include font(var(--typo-1), 18px, var(--fw-semibold));
        color: var(--color-dark);
        margin-bottom: 12px;
        position: relative;

        @include mobile {
            margin-bottom: 0;

            &::before {
                @include absolute(50%, 0);
                @include size(24px);
                @include trs();
                background: {
                    image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"> <path d="M4 9.5L12 17.5L20 9.5" stroke="#2E3543" stroke-width="2"/> </svg>');
                    repeat: no-repeat;
                };
                content: '';
                transform: translateY(-50%);
            }

            &.is-open {
                &::before {
                    background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"> <path d="M4 9.5L12 17.5L20 9.5" stroke="#2458A4" stroke-width="2"/> </svg>');
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px 0;

        @include mobile {
            @include trs();
            max-height: 0;
            overflow: hidden;
        }

        &.is-open {
            margin-top: 20px;
            max-height: 500px;
        }
    }

    &__item {
        @include font(var(--typo-1), 16px, var(--fw-normal));
        color: var(--color-dark);
        padding-left: 20px;
        position: relative;

        &::before {
            @include absolute(50%, null, null, 0);
            @include size(8px);
            background-color: var(--color-blue);
            border-radius: 50%;
            content: '';
            transform: translateY(-50%);
        }
    }
}
