<section class="section academy">
    <div class="academy__container container">
        <div class="academy__wrapper">
            <picture class="academy__picture">
                <img src="../img/academy.svg" alt="picture">
            </picture>
            <div class="academy__content">
                <h2 class="academy__title">Have academia’s finest work for you</h2>
                <p class="academy__paragraph paragraph">The top 2% of academic talent is here for you</p>
                <a href="#" class="btn">Get a quote</a>
            </div>
        </div>
    </div>
</section>
