<section class="section achieve">
    <div class="container">
        <div class="achieve__wrapper">
            <div class="achieve__item">
                <picture class="achieve__picture">
                    <img src="../img/achieve-1.svg" alt="icon">
                </picture>
                <span class="achieve__count">1528</span>
                <p class="achieve__paragraph paragraph">Professional writers</p>
            </div>
            <div class="achieve__item">
                <picture class="achieve__picture">
                    <img src="../img/achieve-2.svg" alt="icon">
                </picture>
                <span class="achieve__count">1M+</span>
                <p class="achieve__paragraph paragraph">Orders completed</p>
            </div>
            <div class="achieve__item">
                <picture class="achieve__picture">
                    <img src="../img/achieve-3.svg" alt="icon">
                </picture>
                <span class="achieve__count">854</span>
                <p class="achieve__paragraph paragraph">Regular customers</p>
            </div>
            <div class="achieve__item">
                <picture class="achieve__picture">
                    <img src="../img/achieve-4.svg" alt="icon">
                </picture>
                <span class="achieve__count">100%</span>
                <p class="achieve__paragraph paragraph">Orders delivered on time</p>
            </div>
        </div>
    </div>
</section>
