<div class="article-carousel">
    <div class="title">
        <h2 class="title__text">Related Posts</h2>
    </div>
    <div class="article-carousel__slide">
        <div class="swiper-button-next article-carousel__next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M6 13.3334L11.3333 8.00004L6 2.66671" stroke="#2458A4" stroke-width="1.33333"/>
            </svg>
        </div>
        <div class="swiper-button-prev article-carousel__prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M10 13.3334L4.66667 8.00004L10 2.66671" stroke="#2458A4" stroke-width="1.33333"/>
            </svg>
        </div>
        <div class="article-carousel__swiper-pagination swiper-pagination"></div>
        <div class="article-carousel__slider-container swiper-container">
            <div class="swiper-wrapper">
                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-1.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph paragraph">
                        170 Vaccination Research Paper Topics For Stellar Students
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-2.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph paragraph">
                        How To Write Internal Medicine Personal Statement Successfully
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-3.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph paragraph">
                        201 Stellar Medical Researches Topics For Any Taste
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-2.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph paragraph">
                        How To Write Internal Medicine Personal Statement Successfully
                    </p>
                </div>

                <div class="article-carousel__slider-item swiper-slide">
                    <picture class="article-carousel__picture">
                        <img src="../img/article-slide-1.png" alt="phote">
                    </picture>
                    <p class="article-carousel__paragraph paragraph">
                        170 Vaccination Research Paper Topics For Stellar Students
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
