<div class="article-comment">
    <div class="title">
        <h2 class="title__text">Comments</h2>
    </div>
    <div class="article-comment__content">
        <div class="article-comment__item">
            <div class="article-comment__info">
                <span class="article-comment__name">Lukas C.</span>
                <span class="article-comment__date">26 July, 2021, 21:30</span>
            </div>
            <p class="article-comment__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
            <span class="article-comment__reply">Reply</span>
        </div>

        <div class="article-comment__item">
            <div class="article-comment__info">
                <span class="article-comment__name">Lukas C.</span>
                <span class="article-comment__date">26 July, 2021, 21:30</span>
            </div>
            <p class="article-comment__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua.
            </p>
            <span class="article-comment__reply">Reply</span>
        </div>

        <div class="article-comment__item is-left">
            <div class="article-comment__info">
                <span class="article-comment__name">Lukas C.</span>
                <span class="article-comment__date">26 July, 2021, 21:30</span>
            </div>
            <p class="article-comment__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <span class="article-comment__reply">Reply</span>
        </div>

        <div class="article-comment__item is-left">
            <div class="article-comment__info">
                <span class="article-comment__name">Lukas C.</span>
                <span class="article-comment__date">26 July, 2021, 21:30</span>
            </div>
            <p class="article-comment__paragraph paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <span class="article-comment__reply">Reply</span>
        </div>
    </div>
    <div class="article-comment__button">
        <a href="#" class="btn is-transparent">Show more</a>
    </div>
</div>
