<div class="article-link">
    <ul class="article-link__list">
        <li class="article-link__item">
            <a href="#" class="article-link__link">
                Recycling Essay: Simple Writing Guide For All
            </a>
            <span class="article-link__icon"></span>
        </li>
        <li class="article-link__item is-left">
            <span class="article-link__icon"></span>
            <a href="#" class="article-link__link">
                How to Write Effective Essays on Trust? Learn With Us!
            </a>
        </li>
    </ul>
</div>
