<div class="article-post">
    <ul class="article-post__tabs js-tab-list">
        <li class="article-post__tab js-tab-link">Featured</li>
        <li class="article-post__tab js-tab-link">Popular</li>
    </ul>
    <div class="article-post__wrapper">
        <div class="article-post__inner js-tab-content">
            <ul class="article-post__list">
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write An Autobiography Guideline And Useful Advice
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        182 Best Classification Essay Topics To Learn And Write About
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Manage Stress In College: Top Practical Tips
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write A Narrative Essay: Definition, Tips, And A Step-by-Step Guide
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write Article Review Like Professional
                    </a>
                </li>
            </ul>
        </div>
        <div class="article-post__inner js-tab-content">
            <ul class="article-post__list">
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write An Autobiography Guideline And Useful Advice
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write A Narrative Essay: Definition, Tips, And A Step-by-Step Guide
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Write Article Review Like Professional
                    </a>
                </li>
                <li class="article-post__item">
                    <a href="#" class="article-post__link">
                        How To Manage Stress In College: Top Practical Tips
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
