<div class="blog-about">
    <div class="blog-about__item">
        <picture class="blog-about__picture">
            <img src="../img/guarantees-1.svg" alt="icon">
        </picture>
        <div class="blog-about__content">
            <h3 class="blog-about__title item-title">Privacy and security</h3>
            <p class="blog-about__paragraph paragraph">
                We are very particular about your privacy and data security on our platform
            </p>
        </div>
    </div>
    <div class="blog-about__item">
        <picture class="blog-about__picture">
            <img src="../img/blog-about.svg" alt="icon">
        </picture>
        <div class="blog-about__content">
            <h3 class="blog-about__title item-title">Money back guarantee</h3>
            <p class="blog-about__paragraph paragraph">
                We offer each client a money-back guarantee if they are not satisfied with their fulfilled
                order or if we don't meet the guidelines
            </p>
        </div>
    </div>
    <div class="blog-about__item">
        <picture class="blog-about__picture">
            <img src="../img/guarantees-3.svg" alt="icon">
        </picture>
        <div class="blog-about__content">
            <h3 class="blog-about__title item-title">24/7 customer assistance</h3>
            <p class="blog-about__paragraph paragraph">
                If you have questions, your customer support team is always ready to answer them 24/7
            </p>
        </div>
    </div>
</div>
