<div class="blog-news">

    <div class="blog-news__item">
        <picture class="blog-news__picture">
            <img src="../img/blog-1.png" alt="picture news">
        </picture>
        <div class="blog-news__content">
            <h2 class="blog-news__title">171 Original Biochemistry Research Topics</h2>
            <div class="blog-news__info">
                <p class="blog-news__name">Alexander Anderson</p>
                <div class="blog-news__reactions">
                    <span class="blog-news__date">21 Jun 2023</span>
                    <span class="blog-news__like">14 likes</span>
                </div>
            </div>
            <p class="blog-news__paragraph paragraph">
                Are you a student searching for original and captivating biochemistry research topics? Look no further!
                In this article, we present you with a comprehensive list of 171 free, unique, and thought-provoking
                biochemistry research topics. Whether you’re working on a thesis, dissertation, or class assignment,
                this list offers a wide range of interesting ideas to explore.
            </p>
            <a href="#" class="blog-news__btn">Read more</a>
        </div>
    </div>

    <div class="blog-news__item">
        <picture class="blog-news__picture">
            <img src="../img/blog-2.png" alt="picture news">
        </picture>
        <div class="blog-news__content">
            <h2 class="blog-news__title">172 Amazing Kinesiology Research Topics To Explore Writing</h2>
            <div class="blog-news__info">
                <p class="blog-news__name">Alexander B.</p>
                <div class="blog-news__reactions">
                    <span class="blog-news__date">21 Jun 2023</span>
                    <span class="blog-news__like">14 likes</span>
                </div>
            </div>
            <p class="blog-news__paragraph paragraph">
                Kinesiology is a discipline many college students offer. In contrast, some high schools offer courses
                closely connected to this subject. As a part of the learning process, different professors in this
                course give out kinesiology research paper assignments. The possibility of getting awesome grades in
                these projects relies heavily on the high quality topics you find. Besides, your lecturer will also
                want to read something fascinating about your study. The topic you choose also comes in handy here.
            </p>
            <a href="#" class="blog-news__btn">Read more</a>
        </div>
    </div>

    <div class="blog-news__item">
        <picture class="blog-news__picture">
            <img src="../img/blog-3.png" alt="picture news">
        </picture>
        <div class="blog-news__content">
            <h2 class="blog-news__title">180 Top Educational Research Topics To Get Best Grades</h2>
            <div class="blog-news__info">
                <p class="blog-news__name">Alexander Anderson</p>
                <div class="blog-news__reactions">
                    <span class="blog-news__date">21 Jun 2023</span>
                    <span class="blog-news__like">14 likes</span>
                </div>
            </div>
            <p class="blog-news__paragraph paragraph">
                Writing about educational research topics requires careful selection of the title and investigating it
                thoroughly. Also, students must analyze information and package it correctly to impress educators to
                award them the top scores. The primary purpose of research is to expand knowledge in a particular
                field. Therefore, the educational topic you choose to write about should let you research and introduce
                new knowledge to this field.
            </p>
            <a href="#" class="blog-news__btn">Read more</a>
        </div>
    </div>

    <div class="blog-news__item">
        <picture class="blog-news__picture">
            <img src="../img/blog-4.png" alt="picture news">
        </picture>
        <div class="blog-news__content">
            <h2 class="blog-news__title">143 Anxiety Research Topics: Ideas To Get You Started</h2>
            <div class="blog-news__info">
                <p class="blog-news__name">Alexander Anderson</p>
                <div class="blog-news__reactions">
                    <span class="blog-news__date">21 Jun 2023</span>
                    <span class="blog-news__like">14 likes</span>
                </div>
            </div>
            <p class="blog-news__paragraph paragraph">
                Anxiety research topics cover a wider study field, including emotions leading to severe mental and
                physical changes, negative impact on social contact, and depression. Educators ask students to write
                about these topics to understand this mental health issue or disorder better. This study field is
                essential since doctors diagnose many people with mental health disorders in the contemporary world.
            </p>
            <a href="#" class="blog-news__btn">Read more</a>
        </div>
    </div>

    <div class="blog-news__item">
        <picture class="blog-news__picture">
            <img src="../img/blog-5.png" alt="picture news">
        </picture>
        <div class="blog-news__content">
            <h2 class="blog-news__title">How To Cite A Thesis In APA The Right Way – Learn Today!</h2>
            <div class="blog-news__info">
                <p class="blog-news__name">Alexander Anderson</p>
                <div class="blog-news__reactions">
                    <span class="blog-news__date">21 Jun 2023</span>
                    <span class="blog-news__like">14 likes</span>
                </div>
            </div>
            <p class="blog-news__paragraph paragraph">
                Don’t know how to cite a thesis in APA? No problem! You have arrived at the right place. In this
                article, we will show you what APA style is and how to use various types of citations easily.
                In addition, you will learn how to make a references list the correct way.
            </p>
            <a href="#" class="blog-news__btn">Read more</a>
        </div>
    </div>

    <div class="blog-news__show-btn">
        <a href="#" class="btn is-transparent">Show more</a>
    </div>

</div>
