<section class="section is-blog blog-adv">
    <div class="container">
        <ul class="blog-adv__list">
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Essay writing quides</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Research paper</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Dissertation writing</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Plagiarism</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Citation quide</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Academic writing tips</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">AI study hacks</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Study tips & tricks</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
            <li class="blog-adv__item">
                <a href="#" class="blog-adv__link">Insights</a>
                <span class="blog-adv__icon" aria-hidden="true"></span>
            </li>
        </ul>
    </div>
</section>
