<section class="section is-blog blog-main">
    <div class="container">
        <div class="blog-main__wrapper">
            <div class="blog-main__content">
                <div class="title">
                    <h2 class="title__text">Blog</h2>
                    <p class="title__text-small">
                        Find the best tips and advice to improve your writing. Or, have a top expert write your paper.
                    </p>
                </div>
                <div class="blog-main__search">
                    <input type="search" class="blog-main__search-input" placeholder="I’m searching for...">
                    <button class="blog-main__search-btn">
                        <span class="blog-main__search-icon" aria-hidden="true"></span>
                        Search
                    </button>
                </div>
            </div>
            <picture class="blog-main__picture">
                <img src="../../img/blog-main.svg" alt="picture">
            </picture>
        </div>
    </div>
</section>
