<section class="section calculator">
    <div class="calculator__container container">
        <form class="calculator__form">
            <h3 class="calculator__title item-title">You can calculate the cost of your work</h3>
            <div class="calculator__wrapper">
                <div class="calculator__wrap">
                    <p class="calculator__label" data-label-type="typeOfWork">Type of work</p>
                    <div class="calculator__select-block">
                        <div class="calculator__custom-select">
                            <div class="calculator__selected-item" data-selected-type="typeOfWork">Writing</div>
                            <div class="calculator__dropdown">
                                <div class="calculator__option" data-value="15" data-index="Writing">Writing</div>
                                <div class="calculator__option" data-value="10" data-index="Editing">Editing</div>
                                <div class="calculator__option" data-value="0" data-index="Other">Other</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="calculator__wrap">
                    <p class="calculator__label" data-label-type="academicLevel">Academic level</p>
                    <div class="calculator__select-block">
                        <div class="calculator__custom-select">
                            <div class="calculator__selected-item" data-selected-type="academicLevel">High School</div>
                            <div class="calculator__dropdown">
                                <div class="calculator__option" data-value="1" data-index="High School">High School</div>
                                <div class="calculator__option" data-value="1.15" data-index="College Freshman">College Freshman</div>
                                <div class="calculator__option" data-value="1.25" data-index="College Sophomore">College Sophomore</div>
                                <div class="calculator__option" data-value="1.35" data-index="College Junior">College Junior</div>
                                <div class="calculator__option" data-value="1.45" data-index="College Senior">College Senior</div>
                                <div class="calculator__option" data-value="1.6" data-index="Master's">Master's</div>
                                <div class="calculator__option" data-value="1.75" data-index="PhD">PhD</div>
                                <div class="calculator__option" data-value="1.25" data-index="Business (Standard)">Business (Standard)</div>
                                <div class="calculator__option" data-value="1.5" data-index="Business (Premium)">Business (Premium)</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="calculator__wrap">
                    <p class="calculator__label" data-label-type="urgency">Urgency</p>
                    <div class="calculator__select-block">
                        <div class="calculator__custom-select">
                            <div class="calculator__selected-item" data-selected-type="urgency">15+ days</div>
                            <div class="calculator__dropdown">
                                <div class="calculator__option" data-value="2.225" data-index="3 hours">3 hours</div>
                                <div class="calculator__option" data-value="2.2" data-index="9 hours">9 hours</div>
                                <div class="calculator__option" data-value="2.1" data-index="13 hour">13 hour</div>
                                <div class="calculator__option" data-value="1.983" data-index="1 day">1 day</div>
                                <div class="calculator__option" data-value="1.904" data-index="2 days">2 days</div>
                                <div class="calculator__option" data-value="1.84" data-index="3 days">3 days</div>
                                <div class="calculator__option" data-value="1.69" data-index="4 days">4 days</div>
                                <div class="calculator__option" data-value="1.56" data-index="5 days">5 days</div>
                                <div class="calculator__option" data-value="1.46" data-index="7 days">7 days</div>
                                <div class="calculator__option" data-value="1.39" data-index="9 days">9 days</div>
                                <div class="calculator__option" data-value="1.25" data-index="11 days">11 days</div>
                                <div class="calculator__option" data-value="1.17" data-index="15+ days">15+ days</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="calculator__group">
                    <p class="calculator__price is-tablet">
                        <span class="calculator__result">$0</span>
                        <span class="calculator__result-text">Price estimate per 100 words</span>
                    </p>
                    <button class="calculator__button btn" type="button">Continue</button>
                </div>
            </div>
        </form>
    </div>
</section>
