<section class="section contact-info">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Touch base anytime</h2>
            <p class="title__text-small">Our lines are always open for you</p>
        </div>
        <div class="contact-info__wrapper">
            <div class="contact-info__item">
                <picture class="contact-info__picture">
                    <img src="../img/contact-1.svg" alt="icon phone">
                </picture>
                <div class="contact-info__content">
                    <a href="tel:+18006167538" class="contact-info__link item-title">+ 1 (800) 616 7538</a>
                    <p class="contact-info__descr">Toll-free for US and Canada</p>
                </div>
                <a href="#" class="btn">Use live chat</a>
            </div>
            <div class="contact-info__item">
                <picture class="contact-info__picture">
                    <img src="../img/contact-2.svg" alt="icon email">
                </picture>
                <div class="contact-info__content">
                    <a href="mailto:sales@thesishelpers.com" class="contact-info__link item-title">
                        sales@thesishelpers.com
                    </a>
                    <p class="contact-info__descr">Let's get to know each other</p>
                </div>
                <div class="contact-info__content">
                    <a href="mailto:support@thesishelpers.com" class="contact-info__link item-title">
                        support@thesishelpers.com
                    </a>
                    <p class="contact-info__descr">Friends know where to find us</p>
                </div>
                <div class="contact-info__content">
                    <a href="mailto:billing@thesishelpers.com" class="contact-info__link item-title">
                        billing@thesishelpers.com
                    </a>
                    <p class="contact-info__descr">Money matters made simple</p>
                </div>
            </div>
            <div class="contact-info__item">
                <picture class="contact-info__picture">
                    <img src="../img/contact-3.svg" alt="icon schedule">
                </picture>
                <div class="contact-info__content">
                    <p class="contact-info__date item-title">Mon 00:00 – Sun 23:59</p>
                    <p class="contact-info__descr">For Sales and Support</p>
                </div>
            </div>
        </div>
    </div>
</section>
