<section class="section contact-form">
    <div class="container">
        <div class="contact-form__wrapper">
            <div class="contact-form__title title">
                <h2 class="title__text">Contact us 24/7</h2>
                <p class="title__text-small">
                    Get a professional and comprehensive academic assistance with your assignments
                </p>
            </div>
            <form class="contact-form__form" action="#">
                <div class="contact-form__inner">
                    <label class="contact-form__label" for="contact-name">Name</label>
                    <input
                        class="contact-form__area"
                        type="text"
                        id="contact-name"
                        name="name"
                        placeholder="Enter your name"
                        required>
                </div>

                <div class="contact-form__inner">
                    <label class="contact-form__label" for="contact-email">E-mail</label>
                    <input
                        class="contact-form__area"
                        type="email"
                        id="contact-email"
                        name="email"
                        placeholder="Enter your e-mail"
                        required>
                </div>

                <div class="contact-form__inner">
                    <label class="contact-form__label" for="contact-comment">Message</label>
                    <textarea
                        class="contact-form__area"
                        id="contact-comment"
                        name="comment"
                        rows="6"
                        placeholder="Write your question"></textarea>
                </div>

                <button type="submit" class="btn contact-form__btn">Send</button>
            </form>
        </div>
    </div>
</section>
