<div class="dropdown-menu">
    <div class="header-nav__dropdown">
        <div class="header-nav__dropdown-groups">
            <div class="header-nav__dropdown-wrapper is-grid">
                <div class="header-nav__dropdown-inner">
                    <h3 class="header-nav__dropdown-title">Essay writing</h3>
                    <ul class="header-nav__dropdown-list">
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Custom thesis writing</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Buy dissertation online</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Write my thesis</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Custom dissertation</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Buy thesis</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav__dropdown-inner">
                    <h3 class="header-nav__dropdown-title">Term paper writing</h3>
                    <ul class="header-nav__dropdown-list">
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Master’s thesis</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Write my dissertation</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Dissertation help</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">PhD dissertation help</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Purchase thesis</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav__dropdown-inner">
                    <h3 class="header-nav__dropdown-title">Research paper writing</h3>
                    <ul class="header-nav__dropdown-list">
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Thesis topics</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Cheap dissertation</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Pay for thesis</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Dissertation coach</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Literature review</a>
                        </li>
                    </ul>
                </div>
                <div class="header-nav__dropdown-inner">
                    <h3 class="header-nav__dropdown-title">Other services</h3>
                    <ul class="header-nav__dropdown-list">
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Pay for dissertation</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Dissertation service</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Write my literature review</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Thesis proofreading</a>
                        </li>
                        <li class="header-nav__dropdown-item">
                            <a href="#" class="header-nav__dropdown-link">Thesis editing services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-nav__dropdown-wrapper is-links">
                <h3 class="header-nav__dropdown-title">Popular request:</h3>
                <ul class="header-nav__dropdown-tags">
                    <li class="header-nav__dropdown-tag">
                        <a href="#">proofreading service</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">academic essay writer</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">law essay help</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">cheap essays online</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">IB extended essay</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">order essay online</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">book writing</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">scholarship essay</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">term papers for sale</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">thesis statement</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">admission essay help</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">college paper writing</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">buy college papers</a>
                    </li>
                    <li class="header-nav__dropdown-tag">
                        <a href="#">buy college papers</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-nav__dropdown-wrapper is-btns">
            <a href="#" class="header-nav__dropdown-link is-back">
                <span class="header-nav__dropdown-icon" aria-hidden="true"></span>
                Back
            </a>
            <a href="service.html" class="btn is-transparent">All Services</a>
        </div>
    </div>
</div>
