<section class="section error-block">
    <div class="error-block__container container">
        <picture class="error-block__picture">
            <img src="../img/404.svg" alt="error-picture">
        </picture>
        <div class="error-block__content">
            <div class="title">
                <h2 class="title__text">Page Not Found</h2>
                <p class="title__text-small">We are sorry, the page you looking for does not exist</p>
            </div>
            <a href="#" class="btn">Homepage</a>
        </div>
    </div>
</section>
