<section class="section faq">
    <div class="faq__container container">
        <div class="faq__info">
            <div class="faq__title">
                <h2 class="title__text">Frequently <br> asked questions</h2>
                <p class="title__text-small">Here's a little description of
                    what you get when you enlist our thesis services
                </p>
            </div>
            <a href="#" class="btn is-transparent faq__link">Contact us</a>
        </div>
        <div class="faq__content">
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Can you do an essay or book review for me?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, deserunt,
                        recusandae rerum voluptate ducimus cupiditate eos ad labore voluptates facilis
                        minima corrupti explicabo. Sapiente cupiditate cumque assumenda, quod incidunt sequi.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    How do I know I can trust you?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fuga odio consequatur
                        quibusdam earum, ipsa soluta, quaerat incidunt esse iure optio asperiores vitae totam
                        in facilis excepturi. Laboriosam, quasi deserunt.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Is it legal to get thesis help from you?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur ducimus enim
                        consequuntur fugiat fugit dicta officiis! Adipisci dicta, aut inventore tempore optio
                        magnam reprehenderit temporibus laborum esse consequatur neque!
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    How do I pay? Is it safe?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus earum
                        similique minima iure? Similique odit commodi unde, facere quae sunt veniam
                        reprehenderit. Quae temporibus, harum veniam nisi sapiente ipsa?
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    Can you prove your work is plagiarism-free?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                        necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                        esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                    </p>
                </div>
            </div>
            <div class="faq__wrapper">
                <h3 class="faq__question">
                    What if I don't like your work?
                </h3>
                <div class="faq__answer">
                    <p class="faq__answer-inner paragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                        necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                        esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
