<section class="section feedback">
    <div class="container">
        <div class="feedback__wrapper">
            <div class="feedback__sidebar-wrap">
                <div class="feedback__sidebar">
                    <div class="feedback__header">
                        <h2 class="feedback__title">Your feedback is everything</h2>
                        <p class="feedback__paragraph paragraph">Thousands of reviews from happy students</p>
                    </div>
                    <ul class="feedback__list js-tab-list">
                        <li class="feedback__item js-tab-link">
                            <img src="../img/logo-thesishelpers.svg" alt="thesishelpers logo">
                        </li>
                        <li class="feedback__item js-tab-link">
                            <img src="../img/logo-sitejabber.svg" alt="sitejabber logo">
                        </li>
                        <li class="feedback__item js-tab-link">
                            <img src="../img/logo-trustpilot.svg" alt="trustpilot logo">
                        </li>
                    </ul>
                    <div class="feedback__group">
                        <picture class="feedback__picture">
                            <img src="../img/feedback.svg" alt="icon">
                        </picture>
                        <div class="feedback__rating">
                            <span class="feedback__rate" aria-hidden="true"></span>
                            <p class="feedback__rate-info paragraph">Overall rating</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback__content">
                <div class="feedback__column is-thesis js-tab-content">

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                My writer did a great job because my bibliography list was a real mess.
                                He edited it and checked the accuracy of the in-text citations. That's the most tedious
                                job I can imagine what a hero he is.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">David</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I spent several days surfing the internet for my thesis, and the results were
                                meh to me. Even if the content seemed good enough, the website was not reliable.
                                If the website was reliable, then the source material was already obsolete.
                                Getting tired of it I ordered a thesis on this website and in about months time
                                got my paper back. The writer who worked on my thesis is just amazing.
                                He was attentive to all my requests, followed all the instructions and
                                delivered my paper on time.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Midge</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I really like it that youre available 24/7. Not many sites can say that.
                                I mean that their services are round the clock. Good that you don't have night/day
                                difference in prices. My expert basically did the kind of paper I wanted.
                                All they asked from me was my teacher's instructions. That's it.
                                By the way the sign up process is simple. Anyway my teacher's happy. I'm happy. Nice.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Claudette</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I wanted to thank you for a very insightful thesis paper. My now-wife and I
                                were celebrating our wedding day on the 26th, on the same day when the kincade
                                fire broke out in Northern California. Gosh you can't imagine what we went through.
                                We had to be immediately evacuated from our home town. Well... At a devastating time
                                like that your service came as a real lifesaver, and I appreciate all the time and
                                effort you put towards my paper, one that I could no longer work on for obvious reasons.
                                Can't thank you enough.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Ken</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>
                    <div class="feedback__button">
                        <a href="#" class="btn is-transparent">Look More</a>
                    </div>
                </div>

                <div class="feedback__column is-trustpilot js-tab-content">

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                My writer did a great job because my bibliography list was a real mess.
                                He edited it and checked the accuracy of the in-text citations. That's the most tedious
                                job I can imagine what a hero he is.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">David</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I spent several days surfing the internet for my thesis, and the results were
                                meh to me. Even if the content seemed good enough, the website was not reliable.
                                If the website was reliable, then the source material was already obsolete.
                                Getting tired of it I ordered a thesis on this website and in about months time
                                got my paper back. The writer who worked on my thesis is just amazing.
                                He was attentive to all my requests, followed all the instructions and
                                delivered my paper on time.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Midge</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I really like it that youre available 24/7. Not many sites can say that.
                                I mean that their services are round the clock. Good that you don't have night/day
                                difference in prices. My expert basically did the kind of paper I wanted.
                                All they asked from me was my teacher's instructions. That's it.
                                By the way the sign up process is simple. Anyway my teacher's happy. I'm happy. Nice.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Claudette</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I wanted to thank you for a very insightful thesis paper. My now-wife and I
                                were celebrating our wedding day on the 26th, on the same day when the kincade
                                fire broke out in Northern California. Gosh you can't imagine what we went through.
                                We had to be immediately evacuated from our home town. Well... At a devastating time
                                like that your service came as a real lifesaver, and I appreciate all the time and
                                effort you put towards my paper, one that I could no longer work on for obvious reasons.
                                Can't thank you enough.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Ken</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__button">
                        <a href="#" class="btn is-transparent">Look More</a>
                    </div>
                </div>

                <div class="feedback__column is-sitejabber js-tab-content">

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                My writer did a great job because my bibliography list was a real mess.
                                He edited it and checked the accuracy of the in-text citations. That's the most tedious
                                job I can imagine what a hero he is.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">David</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I spent several days surfing the internet for my thesis, and the results were
                                meh to me. Even if the content seemed good enough, the website was not reliable.
                                If the website was reliable, then the source material was already obsolete.
                                Getting tired of it I ordered a thesis on this website and in about months time
                                got my paper back. The writer who worked on my thesis is just amazing.
                                He was attentive to all my requests, followed all the instructions and
                                delivered my paper on time.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Midge</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I really like it that youre available 24/7. Not many sites can say that.
                                I mean that their services are round the clock. Good that you don't have night/day
                                difference in prices. My expert basically did the kind of paper I wanted.
                                All they asked from me was my teacher's instructions. That's it.
                                By the way the sign up process is simple. Anyway my teacher's happy. I'm happy. Nice.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Claudette</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__inner">
                        <div class="feedback__wrap">
                            <span class="feedback__stars" aria-hidden="true"></span>
                            <p class="feedback__writer">Writer: Anna S.</p>
                        </div>
                        <div class="feedback__wrap">
                            <h3 class="feedback__subtitle">Medicine thesis</h3>
                            <p class="feedback__descr">
                                I wanted to thank you for a very insightful thesis paper. My now-wife and I
                                were celebrating our wedding day on the 26th, on the same day when the kincade
                                fire broke out in Northern California. Gosh you can't imagine what we went through.
                                We had to be immediately evacuated from our home town. Well... At a devastating time
                                like that your service came as a real lifesaver, and I appreciate all the time and
                                effort you put towards my paper, one that I could no longer work on for obvious reasons.
                                Can't thank you enough.
                            </p>
                        </div>
                        <div class="feedback__wrap">
                            <span class="feedback__name">Ken</span>
                            <span class="feedback__date">January 11th, 2022</span>
                        </div>
                    </div>

                    <div class="feedback__button">
                        <a href="#" class="btn is-transparent">Look More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
