<section class="section find">
    <div class="container">
        <div class="title">
            <h2 class="title__text">How we find them</h2>
            <p class="title__text-small">
                Every week we get hundreds of hopefuls applying to join the team.
                Here’s how we make sure only the best get to handle your project
            </p>
        </div>
        <div class="find__wrapper">
            <div class="find__content">

                <div class="find__item">
                    <span class="find__num">37%</span>
                    <h3 class="find__title item-title">1. Background check</h3>
                    <p class="find__paragraph paragraph">
                        To locate the best talent out there, we tirelessly sift through CVs, and single out those that
                        speak beyond the words the resumes offer
                    </p>
                </div>

                <div class="find__item">
                    <span class="find__num">14%</span>
                    <h3 class="find__title item-title">2. Language Exam</h3>
                    <p class="find__paragraph paragraph">
                        We love English, and that’s what we look for in a candidate:
                        affection for and deep knowledge of the language
                    </p>
                </div>

                <div class="find__item">
                    <span class="find__num">3%</span>
                    <h3 class="find__title item-title">3. Phone interview</h3>
                    <p class="find__paragraph paragraph">
                        We love English, and that’s what we look for in a candidate:
                        affection for and deep knowledge of the language
                    </p>
                </div>

                <div class="find__item">
                    <span class="find__num">2%</span>
                    <h3 class="find__title item-title">4. Expertise test</h3>
                    <p class="find__paragraph paragraph">
                        Before allowing anyone on the team, we recreate the working environment by
                        offering candidates a number of real-time assignments to check their skills in action.
                    </p>
                </div>

                <div class="find__item">
                    <span class="find__num">TOP 2%</span>
                    <h3 class="find__title item-title">5. Meet your pro</h3>
                    <p class="find__paragraph paragraph">
                        Time to find an expert that fits you. Out of the top 2% of academic talent,
                        you get the best.
                    </p>
                    <a href="#" class="btn find__btn">Get a top 2% expert</a>
                </div>
            </div>
            <div class="find__picture">
                <img src="../../img/find.svg" alt="picture">
            </div>
            <div class="find__content"></div>
        </div>
    </div>
</section>
