<footer class="footer">
    <div class="container">
        @include('chat-footer.html')
        <div class="footer__wrapper">
            <div class="footer__row is-first">
                <div class="footer__column is-first">
                    <div class="footer__inner">
                        <h3 class="footer__title js-dropdown-title">Essay writing</h3>
                        <ul class="footer__list js-dropdown-list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Custom thesis writing</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Buy dissertation online</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Write my thesis</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Custom dissertation</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Buy thesis</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__inner">
                        <h3 class="footer__title js-dropdown-title">Term paper writing</h3>
                        <ul class="footer__list js-dropdown-list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Master’s thesis</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Write my dissertation</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Dissertation help</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">PhD dissertation help</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Purchase thesis</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__inner">
                        <h3 class="footer__title js-dropdown-title">Research paper writing</h3>
                        <ul class="footer__list js-dropdown-list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Thesis topics</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cheap dissertation</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Pay for thesis</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Dissertation coach</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Literature review</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__inner">
                        <h3 class="footer__title js-dropdown-title">Other services</h3>
                        <ul class="footer__list js-dropdown-list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Pay for dissertation</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Dissertation service</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Write my literature review</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Thesis proofreading</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Thesis editing services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column is-second">
                    <h3 class="footer__title">Contacts</h3>
                    <div class="footer__info">
                        <div class="footer__descr">
                            <span class="footer__info-icon is-phone" aria-hidden="true"></span>
                            <p class="footer__subtitle">Phone:</p>
                        </div>
                        <a href="tel:+18006167538" class="footer__extralink">+ 1 (800) 616 7538</a>
                    </div>
                    <div class="footer__info">
                        <div class="footer__descr">
                            <span class="footer__info-icon" aria-hidden="true"></span>
                            <p class="footer__subtitle">Sales:</p>
                        </div>
                        <a href="mailto:sales@thesishelpers.com" class="footer__extralink">sales@thesishelpers.com</a>
                    </div>
                    <div class="footer__info">
                        <div class="footer__descr">
                            <span class="footer__info-icon" aria-hidden="true"></span>
                            <p class="footer__subtitle">Support:</p>
                        </div>
                        <a href="mailto:support@thesishelpers.com" class="footer__extralink">support@thesishelpers.com</a>
                    </div>
                    <div class="footer__info">
                        <div class="footer__descr">
                            <span class="footer__info-icon" aria-hidden="true"></span>
                            <p class="footer__subtitle">Billing:</p>
                        </div>
                        <a href="mailto:billing@thesishelpers.com" class="footer__extralink">billing@thesishelpers.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__row is-second">
                <div class="footer__column">
                    <h3 class="footer__title">Disclaimer:</h3>
                    <p class="footer__paragraph">
                        All type papers offered by thesishelpers.com must have proper references.
                        We do not encourage or condone any activity that violates applicable law
                        or any college or university policy.
                    </p>
                </div>
                <div class="footer__column is-second is-flex-row">
                    <picture class="footer__payment">
                        <img src="../img/payment-1.svg" alt="visa">
                    </picture>
                    <div class="footer__payment">
                        <img src="../img/payment-2.svg" alt="mastercard">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/payment-3.svg" alt="amex">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/payment-4.svg" alt="apple pay">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/payment-5.svg" alt="google pay">
                    </div>
                    <div class="footer__payment">
                        <img src="../img/payment-6.svg" alt="microsoft pay">
                    </div>
                </div>
            </div>
            <div class="footer__row is-third">
                <div class="footer__column">
                    <ul class="footer__list-rule">
                        <li class="footer__item-rule">
                            <a href="#" class="footer__link-rule">Terms&Conditions</a>
                        </li>
                        <li class="footer__item-rule">
                            <a href="#" class="footer__link-rule">Loyalty Program</a>
                        </li>
                        <li class="footer__item-rule">
                            <a href="#" class="footer__link-rule">Privacy Policy</a>
                        </li>
                        <li class="footer__item-rule">
                            <a href="#" class="footer__link-rule">Money-Back Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column is-second">
                    <p class="footer__copyright">© All rights reserved 2013-2023.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
