<section class="section for-top">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Go for Top 2%</h2>
            <p class="title__text-small">
                Through commitment to finding the greats in every field, we’ve managed
                to assemble the best writing talent
            </p>
        </div>
        <div class="for-top__wrapper">
            <div class="for-top__item">
                <picture class="for-top__icon">
                    <img src="../img/for-top-1.svg" alt="icon">
                </picture>
                <div class="for-top__content">
                    <h3 class="for-top__title item-title">Native speakers</h3>
                    <p class="for-top__paragraph paragraph">
                        Experts from the USA, Great Britain and Canada
                    </p>
                </div>
            </div>
            <div class="for-top__item">
                <picture class="for-top__icon">
                    <img src="../img/for-top-2.svg" alt="icon">
                </picture>
                <div class="for-top__content">
                    <h3 class="for-top__title item-title">Graduated specialists</h3>
                    <p class="for-top__paragraph paragraph">
                        Experts are Master’s and PhD holders
                    </p>
                </div>
            </div>
            <div class="for-top__item">
                <picture class="for-top__icon">
                    <img src="../img/for-top-3.svg" alt="icon">
                </picture>
                <div class="for-top__content">
                    <h3 class="for-top__title item-title">Experts in your field</h3>
                    <p class="for-top__paragraph paragraph">
                        500+ experts across all academic disciplines
                    </p>
                </div>
            </div>
        </div>
        <div class="for-top__button">
            <a href="#" class="btn">Get a quote</a>
        </div>
    </div>
</section>
