<section class="section inclusive">
    <div class="inclusive__container container">
        <div class="title">
            <h2 class="title__text">All-Inclusive writing help</h2>
            <p class="title__text-small">Help with writing a thesis is right here – merely hold out your hand!</p>
        </div>
        <div class="inclusive__wrapper">
            <ul class="inclusive__list js-tab-list">
                <li class="inclusive__link js-tab-link">Academic level</li>
                <li class="inclusive__link js-tab-link">Subjects</li>
                <li class="inclusive__link js-tab-link">Formats</li>
            </ul>
            <div class="inclusive__inner">
                <div class="inclusive__content js-tab-content">
                    <ul class="inclusive__items">
                        <li class="inclusive__item">Undergraduate Thesis</li>
                        <li class="inclusive__item">College Thesis</li>
                        <li class="inclusive__item">Bachelor Thesis</li>
                        <li class="inclusive__item">Senior Thesis</li>
                        <li class="inclusive__item">Graduate Thesis</li>
                        <li class="inclusive__item">Master's Thesis</li>
                        <li class="inclusive__item">PhD Thesis / Dissertation</li>
                        <li class="inclusive__item">Postgraduate Thesis / Dissertation</li>
                    </ul>
                </div>
                <div class="inclusive__content js-tab-content">
                    <ul class="inclusive__items">
                        <li class="inclusive__item">Undergraduate Thesis</li>
                        <li class="inclusive__item">College Thesis</li>
                        <li class="inclusive__item">Senior Thesis</li>
                        <li class="inclusive__item">Master's Thesis</li>
                        <li class="inclusive__item">Bachelor Thesis</li>
                        <li class="inclusive__item">Graduate Thesis</li>
                        <li class="inclusive__item">PhD Thesis / Dissertation</li>
                    </ul>
                </div>
                <div class="inclusive__content js-tab-content">
                    <ul class="inclusive__items">
                        <li class="inclusive__item">College Thesis</li>
                        <li class="inclusive__item">Senior Thesis</li>
                        <li class="inclusive__item">Bachelor Thesis</li>
                        <li class="inclusive__item">Graduate Thesis</li>
                        <li class="inclusive__item">PhD Thesis / Dissertation</li>
                        <li class="inclusive__item">Undergraduate Thesis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
