<section class="section instruction">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Get the perfect essay just three easy steps</h2>
            <p class="title__text-small">
                The way we operate is defined by your needs.
                Enjoy hassle-free thesis writing help online.
            </p>
        </div>
        <div class="instruction__wrapper">
            <div class="instruction__item">
                <picture class="instruction__picture">
                    <img src="../img/gif/animation-1.gif" alt="animation">
                </picture>
                <div class="instruction__content">
                    <h3 class="instruction__title item-title">1. Tell us what you need</h3>
                    <p class="instruction__paragraph paragraph">
                        Fill out the order form with essay instructions your teacher has provided.
                        We'll quickly match you with the right writers. All you need to do to register
                        is give us an email address and we’ll generate an account for you.
                    </p>
                </div>
            </div>
            <div class="instruction__item is-reverse">
                <div class="instruction__content">
                    <h3 class="instruction__title item-title">2. Hire ideal essay writer</h3>
                    <p class="instruction__paragraph paragraph">
                        Browse writers’ proposals, profiles, reviews, and rates. Chat with those you like the most
                        and hire your favorite one. Each writer specializes in a certain field and has already attained
                        a high level of experience, you can easily check this information in the writer’s profile.
                    </p>
                </div>
                <picture class="instruction__picture">
                    <img src="../img/gif/animation-2.gif" alt="animation">
                </picture>
            </div>
            <div class="instruction__item">
                <picture class="instruction__picture">
                    <img src="../img/gif/animation-3.gif" alt="animation">
                </picture>
                <div class="instruction__content">
                    <h3 class="instruction__title item-title">3. Get your paper writing</h3>
                    <p class="instruction__paragraph paragraph">
                        Review your finished essay and leave feedback for your writer. Pay only when all requirements
                        are met and you are 100% satisfied with the result.
                    </p>
                    <p class="instruction__paragraph paragraph">
                        Once you have received the final document, any complaints or
                        requested revisions can be made within three days.
                    </p>
                    <a href="#" class="btn instruction__btn">Get your paper written</a>
                </div>
            </div>
        </div>
    </div>
</section>
