<section class="section person">
    <div class="container">
        <div class="title">
            <h2 class="title__text">TOP writers in one place</h2>
            <p class="title__text-small">Want to discuss your paper? Chat with our writers for FREE</p>
        </div>
        <div class="person__wrapper">
            <div class="person__slider">
                <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M6 13.3334L11.3333 8.00004L6 2.66671" stroke="#2458A4" stroke-width="1.33333"/>
                    </svg>
                </div>
                <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M10 13.3334L4.66667 8.00004L10 2.66671" stroke="#2458A4" stroke-width="1.33333"/>
                    </svg>
                </div>
                <div class="person__swiper-pagination swiper-pagination"></div>
                <div class="person__slider-container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="person__slider-item swiper-slide">
                            <div class="person__info">
                                <picture class="person__photo">
                                    <img src="../img/person-man.svg" alt="man-icon">
                                </picture>
                                <div class="person__descr">
                                    <div class="person__row">
                                        <span class="person__num">ID 123456</span>
                                        <span class="person__verify">
                                            <span class="person__tooltip">Verified Expert</span>
                                        </span>
                                    </div>
                                    <div class="person__row is-mt">
                                <span class="person__rating">
                                    <img src="../img/five-stars.svg" alt="five stars">
                                </span>
                                        <span class="person__works">(4 158 completed orders)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="person__about">
                                <div class="person__location-inner">
                                    <span class="person__education">MBA</span>
                                    <span class="person__location">USA</span>
                                </div>
                                <div class="person__location-inner">
                                    <span class="person__status">writer online</span>
                                </div>
                            </div>
                            <ul class="person__list">
                                <li class="person__link">Marketing</li>
                                <li class="person__link">Psychology</li>
                                <li class="person__link">Management</li>
                                <li class="person__link">English</li>
                                <li class="person__link">Business</li>
                            </ul>
                            <div class="person__bottom">
                                <p class="person__success"><span class="is-bold">100%</span> success rate</p>
                                <a href="#" class="btn">Contact the writer</a>
                            </div>
                        </div>

                        <div class="person__slider-item swiper-slide">
                            <div class="person__info">
                                <picture class="person__photo">
                                    <img src="../img/person-woman.svg" alt="woman-icon">
                                </picture>
                                <div class="person__descr">
                                    <div class="person__row">
                                        <span class="person__num">ID 654321</span>
                                        <span class="person__verify">
                                            <span class="person__tooltip">Verified Expert</span>
                                        </span>
                                    </div>
                                    <div class="person__row">
                                <span class="person__rating">
                                    <img src="../img/four-stars.svg" alt="four stars">
                                </span>
                                        <span class="person__works">(1 473 completed orders)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="person__about">
                                <div class="person__location-inner">
                                    <span class="person__education">PhD</span>
                                    <span class="person__location">Canada</span>
                                </div>
                                <div class="person__location-inner">
                                    <span class="person__status is-offline">writer offline</span>
                                </div>
                            </div>
                            <ul class="person__list">
                                <li class="person__link">Nursing</li>
                                <li class="person__link">Medical</li>
                                <li class="person__link">Sociology</li>
                                <li class="person__link">English</li>
                                <li class="person__link">Art</li>
                            </ul>
                            <div class="person__bottom">
                                <p class="person__success"><span class="is-bold">99,2%</span> success rate</p>
                                <a href="#" class="btn">Contact the writer</a>
                            </div>
                        </div>

                        <div class="person__slider-item swiper-slide">
                            <div class="person__info">
                                <picture class="person__photo">
                                    <img src="../img/person-3.svg" alt="woman-icon">
                                </picture>
                                <div class="person__descr">
                                    <div class="person__row">
                                        <span class="person__num">ID 789012</span>
                                        <span class="person__verify">
                                            <span class="person__tooltip">Verified Expert</span>
                                        </span>
                                    </div>
                                    <div class="person__row is-mt">
                                <span class="person__rating">
                                    <img src="../img/five-stars.svg" alt="five stars">
                                </span>
                                        <span class="person__works">(200+ completed orders)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="person__about">
                                <div class="person__location-inner">
                                    <span class="person__education">MBA</span>
                                    <span class="person__location">Australia</span>
                                </div>
                                <div class="person__location-inner">
                                    <span class="person__status">writer online</span>
                                </div>
                            </div>
                            <ul class="person__list">
                                <li class="person__link">Management</li>
                                <li class="person__link">Human Resources</li>
                                <li class="person__link">Leadership</li>
                                <li class="person__link">International Business</li>
                            </ul>
                            <div class="person__bottom">
                                <p class="person__success"><span class="is-bold">99,4%</span> success rate</p>
                                <a href="#" class="btn">Contact the writer</a>
                            </div>
                        </div>

                        <div class="person__slider-item swiper-slide">
                            <div class="person__info">
                                <picture class="person__photo">
                                    <img src="../img/person-4.svg" alt="man-icon">
                                </picture>
                                <div class="person__descr">
                                    <div class="person__row">
                                        <span class="person__num">ID 456789</span>
                                        <span class="person__verify">
                                            <span class="person__tooltip">Verified Expert</span>
                                        </span>
                                    </div>
                                    <div class="person__row is-mt">
                                <span class="person__rating">
                                    <img src="../img/rate-half-four.svg" alt="4.5 stars">
                                </span>
                                        <span class="person__works">(180+ completed orders)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="person__about">
                                <div class="person__location-inner">
                                    <span class="person__education">MSc</span>
                                    <span class="person__location">Canada</span>
                                </div>
                                <div class="person__location-inner">
                                    <span class="person__status is-offline">writer offline</span>
                                </div>
                            </div>
                            <ul class="person__list">
                                <li class="person__link">Medicine</li>
                                <li class="person__link">Healthcare Management</li>
                                <li class="person__link">Public Health </li>
                                <li class="person__link">Medical Researchart</li>
                            </ul>
                            <div class="person__bottom">
                                <p class="person__success"><span class="is-bold">94,7%</span> success rate</p>
                                <a href="#" class="btn">Contact the writer</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="person__content is-second">
                <picture class="person__picture-icon">
                    <img src="../img/people-icon.svg" alt="people-icon">
                </picture>
                <h3 class="person__subtitle item-title">Find the perfect fit for your project, with 500+ experts across the board.</h3>
                <a href="#" class="btn">Contact the writer</a>
            </div>
        </div>
    </div>
</section>
