<section class="section price-value">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Maximum Value, Whatever the Project</h2>
            <p class="title__text-small">Save up to 50% on papers with longer deadlines</p>
        </div>
        <div class="price-value__wrapper">

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/benefit-1.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">Niche expertise</h3>
                    <p class="price-value__paragraph paragraph">
                        You only get to work with experts in your field,
                        with master's and PhD degrees to prove their worth
                    </p>
                </div>
            </div>

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/price-value.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">Get it tweaked for free</h3>
                    <p class="price-value__paragraph paragraph">
                        We never stop caring about your project. Get
                        unlimited revisions within 10 days upon final delivery
                    </p>
                </div>
            </div>

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/benefit-3.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">Choose your champion</h3>
                    <p class="price-value__paragraph paragraph">
                        We'll present you with the most qualified candidates for the job,
                        but it's you who gets to pick the winner
                    </p>
                </div>
            </div>

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/guarantees-1.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">One-on-one access</h3>
                    <p class="price-value__paragraph paragraph">
                        Use a secure, private chat for all the back-and-forth
                        between you, your advisor, and your writer
                    </p>
                </div>
            </div>

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/achieve-1.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">Vetting by sample</h3>
                    <p class="price-value__paragraph paragraph">
                        Make an informed choice: test-drive your writer by
                        reviewing their sample work available upon request
                    </p>
                </div>
            </div>

            <div class="price-value__item">
                <picture class="price-value__icon">
                    <img src="../img/guarantees-3.svg" alt="icon">
                </picture>
                <div class="price-value__content">
                    <h3 class="price-value__title item-title">Get answers 24/7</h3>
                    <p class="price-value__paragraph paragraph">
                        Want an instant update? Got a technical problem?
                        Our customer care managers are a phone call away
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
