<section class="section price-tab">
    <div class="price-tab__container container">
        <div class="title">
            <h2 class="title__text">Prices</h2>
            <p class="title__text-small">Save up to 50% on papers with longer deadlines</p>
        </div>
        <div class="price-tab__wrapper">
            <ul class="price-tab__list is-desktop js-tab-list">
                <li class="price-tab__link js-tab-link">Writing</li>
                <li class="price-tab__link js-tab-link">Editing</li>
                <li class="price-tab__link js-tab-link">Stacks</li>
                <li class="price-tab__link js-tab-link">Other</li>
            </ul>
            <div class="price-tab__inner">
                <div class="price-tab__content js-tab-content">
                    <div class="price-tab__column">
                        <picture class="price-tab__icon">
                            <img src="../img/price-tab-1.svg" alt="icon">
                        </picture>
                        <h3 class="price-tab__title item-title">Writing</h3>
                        <p class="price-tab__paragraph paragraph">
                            Get a paper with all-new content that follows your specific instructions.
                        </p>
                        <p class="price-tab__cost paragraph">from <span class="is-bold">$5,85</span> per 100 words</p>
                        <div class="price-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                        </div>
                    </div>
                    <div class="price-tab__column">
                        <ul class="price-tab__info">
                            <li class="price-tab__info-item paragraph is-info">
                                <span class="is-bold">Top 2%</span> expert
                                <span class="price-tab__icon-tooltip">
                                    <span class="price-tab__tooltip">
                                        Before it gets to you, your project will be checked by
                                        a person with an English degree.</span>
                                </span>
                            </li>
                            <li class="price-tab__info-item paragraph">
                                <span class="is-bold">Free 10 days</span> revision period
                            </li>
                            <li class="price-tab__info-item paragraph">
                                <span class="is-bold">60-day money-back</span> guarantee
                            </li>
                            <li class="price-tab__info-item paragraph">
                                <span class="is-bold">2x</span> plagiarism check
                            </li>
                            <li class="price-tab__info-item paragraph">Thorough research</li>
                            <li class="price-tab__info-item paragraph">Proper citation</li>
                            <li class="price-tab__info-item paragraph">Any formatting style</li>
                            <li class="price-tab__info-item paragraph">Review by a vetted editor</li>
                        </ul>
                    </div>
                </div>

                <div class="price-tab__content js-tab-content">
                    <div class="price-tab__column">
                        <picture class="price-tab__icon">
                            <img src="../img/price-tab-2.svg" alt="icon">
                        </picture>
                        <h3 class="price-tab__title item-title">Editing</h3>
                        <p class="price-tab__paragraph paragraph">
                            Fine-tune your paper by having a vetted editor bring it to perfection
                        </p>
                        <p class="price-tab__cost paragraph">from <span class="is-bold">$3,90</span> per 100 words</p>
                        <div class="price-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                        </div>
                    </div>
                    <div class="price-tab__column">
                        <ul class="price-tab__info">
                            <li class="price-tab__info-item paragraph is-info">
                                <span class="is-bold">Top 2%</span> expert
                            </li>
                            <li class="price-tab__info-item paragraph">
                                <span class="is-bold">Free 10 days</span> revision period
                            </li>
                            <li class="price-tab__info-item paragraph">
                                <span class="is-bold">60-day money-back</span> guarantee
                            </li>
                            <li class="price-tab__info-item paragraph">Refined structure and flow</li>
                            <li class="price-tab__info-item paragraph">Improved word choice</li>
                            <li class="price-tab__info-item paragraph">Free proofreading</li>
                            <li class="price-tab__info-item paragraph">Any formatting style</li>
                        </ul>
                    </div>
                </div>

                <div class="price-tab__content js-tab-content is-center">
                    <div class="price-tab__column">
                        <picture class="price-tab__icon">
                            <img src="../img/price-tab-3.svg" alt="icon">
                        </picture>
                        <h3 class="price-tab__title item-title">Stacks</h3>
                        <p class="price-tab__paragraph paragraph">
                            Have your expert complete any number of papers within one order
                        </p>
                        <p class="price-tab__cost paragraph">from <span class="is-bold">$3,32</span> per 100 words</p>
                        <div class="price-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                        </div>
                    </div>
                </div>

                <div class="price-tab__content js-tab-content is-center">
                    <div class="price-tab__column">
                        <picture class="price-tab__icon">
                            <img src="../img/price-tab-4.svg" alt="icon">
                        </picture>
                        <h3 class="price-tab__title item-title">Other</h3>
                        <p class="price-tab__paragraph paragraph">
                            Online tests or geometry quizzes, coursework problems or ecology
                            surveys - our experts can handle all things academic
                        </p>
                        <p class="price-tab__cost paragraph">from <span class="is-bold">$3,32</span> per 100 words</p>
                        <div class="price-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
