<section class="section review">
    <div class="title">
        <h2 class="title__text">Reviews from happy students</h2>
        <p class="title__text-small">Thousands of reviews from happy students</p>
    </div>

    <div class="review__slider">
        <div class="review__swiper-pagination swiper-pagination"></div>
        <div class="review__slider-container swiper-container">
            <div class="review__wrapper swiper-wrapper" id="reviewWrapper">

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-red.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-thesis.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">Medicine thesis</h3>
                        <p class="review__category">
                            Nursing is already difficult to college students
                            who spend time in class and theater. It is for this reason that I thought
                            that I would never get medicine assignment help online. My perspective changed
                            when I landed on your website. I have worked with the most experienced and professional
                            medicine writers.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Lauren H.</span>
                        <span class="review__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-orange.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-sitejabber.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">Good service</h3>
                        <p class="review__category">
                            The interface on your website is so easy to use that it takes a fraction
                            of a second to submit the work. It also loads easily on phone and allowed
                            me to follow the progress of my project while still away from my computers.
                            I completed my transaction within minutes and got an assurance of quality services.
                            Services are good indeed, I like that you guarantee quality and free revision in cas
                            you're done the wrong thing.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Hazel B.</span>
                        <span class="review__date">June 25th, 2021</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-green.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-trustpilot.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">Medicine thesis</h3>
                        <p class="review__category">
                            Nursing is already difficult to college students
                            who spend time in class and theater. It is for this reason that I thought
                            that I would never get medicine assignment help online. My perspective changed
                            when I landed on your website. I have worked with the most experienced and professional
                            medicine writers.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Lauren H.</span>
                        <span class="review__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-red.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-sitejabber.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">Medicine thesis</h3>
                        <p class="review__category">
                            Nursing is already difficult to college students
                            who spend time in class and theater. It is for this reason that I thought
                            that I would never get medicine assignment help online. My perspective changed
                            when I landed on your website. I have worked with the most experienced and professional
                            medicine writers.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Lauren H.</span>
                        <span class="review__date">January 11th, 2022</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-green.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-trustpilot.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">Great communication</h3>
                        <p class="review__category">
                            First, my experience was amazing. I was a little skeptical after reading
                            other reviews. I was impressed with the site. Thesishelpers site was easy
                            to use and tech support reached out to me immediately I entered it. They
                            were available 24/7, chat support until the end.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Nicholas S.</span>
                        <span class="review__date">January 18th, 2022</span>
                    </div>
                </div>

                <div class="review__item swiper-slide">
                    <div class="review__info">
                    <span class="review__rating">
                        <img src="../img/rating-red.svg" alt="rating">
                    </span>
                        <span class="review__logo">
                        <img src="../img/review-thesis.svg" alt="logo">
                    </span>
                    </div>
                    <div class="review__content">
                        <h3 class="review__title">World class coaches - Masters Thesis</h3>
                        <p class="review__category">
                            I thought I was bright and would have managed the Master's thesis without
                            any assistance. I went for help after being asked to redraft the title several
                            times. I bumped on the offer for a Master's thesis coach. The coach has been walking
                            me through the steps. We drew an outline and filled all the reference materials.
                            Completing my Master's thesis feels like child's play.
                        </p>
                    </div>
                    <div class="review__post">
                        <span class="review__name">Hubert H.</span>
                        <span class="review__date">December 8th, 2021</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
