<section class="section review-main">
    <div class="review-main__container container">
        <div class="review-main__column">
            <div class="review-main__content">
                <h1 class="review-main__title">ThesisHelpers reviews</h1>
                <p class="review-main__category paragraph">
                    We never settle for anything less than what you expect from a quality service.
                    Find out what clients are saying, and let us know if you’ve got something to share
                </p>
            </div>
            <div class="review-main__list">
                <span class="review-main__brand"></span>
                <span class="review-main__brand"></span>
                <span class="review-main__brand"></span>
            </div>
        </div>
        <div class="review-main__column">
            <picture class="review-main__picture">
                <img src="../img/review-main.svg" alt="picture">
            </picture>
        </div>
    </div>
</section>
