<section class="section sales">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Get more. Pay less.</h2>
            <p class="title__text-small">
                Get one point for every dollar you spend, and enjoy fixed discounts for life
            </p>
        </div>
        <div class="sales__wrapper">
            <div class="sales__item">
                <span class="sales__icon" aria-hidden="true"></span>
                <div class="sales__content">
                    <span class="sales__num">5% off</span>
                    <p class="sales__paragraph paragraph">all-time total: 750 points</p>
                </div>
            </div>
            <div class="sales__item">
                <span class="sales__icon" aria-hidden="true"></span>
                <div class="sales__content">
                    <span class="sales__num">10% off</span>
                    <p class="sales__paragraph paragraph">all-time total: 1500 points</p>
                </div>
            </div>
            <div class="sales__item">
                <span class="sales__icon" aria-hidden="true"></span>
                <div class="sales__content">
                    <span class="sales__num">15% off</span>
                    <p class="sales__paragraph paragraph">all-time total: 3000 points</p>
                </div>
            </div>
        </div>
    </div>
</section>
