<section class="section service-tab">
    <div class="service-tab__container container">
        <div class="title">
            <h2 class="title__text">Services</h2>
            <p class="title__text-small">Save up to 50% on papers with longer deadlines</p>
        </div>
        <div class="service-tab__wrapper">
            <ul class="service-tab__list is-desktop js-tab-list">
                <li class="service-tab__link js-tab-link">Papers</li>
                <li class="service-tab__link js-tab-link">
                    <span class="service-tab__link-lg">Presentations</span>
                    <span class="service-tab__link-sm">PPT</span>
                </li>
                <li class="service-tab__link js-tab-link">
                    <span class="service-tab__link-lg">Thesis projects</span>
                    <span class="service-tab__link-sm">Thesis</span>
                </li>
                <li class="service-tab__link js-tab-link">
                    <span class="service-tab__link-lg">Something else</span>
                    <span class="service-tab__link-sm">Other</span>
                </li>
            </ul>
            <div class="service-tab__inner">
                <div class="service-tab__content js-tab-content">
                    <div class="service-tab__column">
                        <picture class="service-tab__icon">
                            <img src="../img/service-tab-1.svg" alt="icon">
                        </picture>
                        <h3 class="service-tab__title item-title">Papers</h3>
                        <p class="service-tab__paragraph paragraph">
                            Get a paper with all-new content that follows your specific instructions.
                            Get a paper with all-new content that follows your specific instructions
                        </p>
                        <div class="service-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                            <a href="#" class="btn is-transparent">
                                <span class="service-tab__icon-btn" aria-hidden="true"></span>
                                Show Sample
                            </a>
                        </div>
                    </div>
                    <div class="service-tab__column">
                        <div class="service-tab__info">
                            <span class="service-tab__num">45</span>
                            <p class="service-tab__paragraph paragraph">
                                Ordered in the last 24 hours
                            </p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">2 890</span>
                            <p class="service-tab__paragraph paragraph">The total number of completed works</p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">100%</span>
                            <p class="service-tab__paragraph paragraph">Successfully completed works</p>
                        </div>
                    </div>
                </div>

                <div class="service-tab__content js-tab-content">
                    <div class="service-tab__column">
                        <picture class="service-tab__icon">
                            <img src="../img/service-tab-2.svg" alt="icon">
                        </picture>
                        <h3 class="service-tab__title item-title">Presentations</h3>
                        <p class="service-tab__paragraph paragraph">
                            Get a paper with all-new content that follows your specific instructions.
                            Get a paper with all-new content that follows your specific instructions
                        </p>
                        <div class="service-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                            <a href="#" class="btn is-transparent">
                                <span class="service-tab__icon-btn" aria-hidden="true"></span>
                                Show Sample
                            </a>
                        </div>
                    </div>
                    <div class="service-tab__column">
                        <div class="service-tab__info">
                            <span class="service-tab__num">45</span>
                            <p class="service-tab__paragraph paragraph">
                                Ordered in the last 24 hours
                            </p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">2 890</span>
                            <p class="service-tab__paragraph paragraph">The total number of completed works</p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">100%</span>
                            <p class="service-tab__paragraph paragraph">Successfully completed works</p>
                        </div>
                    </div>
                </div>

                <div class="service-tab__content js-tab-content">
                    <div class="service-tab__column">
                        <picture class="service-tab__icon">
                            <img src="../img/service-tab-3.svg" alt="icon">
                        </picture>
                        <h3 class="service-tab__title item-title">Thesis projects</h3>
                        <p class="service-tab__paragraph paragraph">
                            Get a paper with all-new content that follows your specific instructions.
                            Get a paper with all-new content that follows your specific instructions
                        </p>
                        <div class="service-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                            <a href="#" class="btn is-transparent">
                                <span class="service-tab__icon-btn" aria-hidden="true"></span>
                                Show Sample
                            </a>
                        </div>
                    </div>
                    <div class="service-tab__column">
                        <div class="service-tab__info">
                            <span class="service-tab__num">45</span>
                            <p class="service-tab__paragraph paragraph">
                                Ordered in the last 24 hours
                            </p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">2 890</span>
                            <p class="service-tab__paragraph paragraph">The total number of completed works</p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">100%</span>
                            <p class="service-tab__paragraph paragraph">Successfully completed works</p>
                        </div>
                    </div>
                </div>

                <div class="service-tab__content js-tab-content">
                    <div class="service-tab__column">
                        <picture class="service-tab__icon">
                            <img src="../img/service-tab-4.svg" alt="icon">
                        </picture>
                        <h3 class="service-tab__title item-title">Something else</h3>
                        <p class="service-tab__paragraph paragraph">
                            Get a paper with all-new content that follows your specific instructions.
                            Get a paper with all-new content that follows your specific instructions
                        </p>
                        <div class="service-tab__buttons">
                            <a href="#" class="btn">Get a quote</a>
                            <a href="#" class="btn is-transparent">
                                <span class="service-tab__icon-btn" aria-hidden="true"></span>
                                Show Sample
                            </a>
                        </div>
                    </div>
                    <div class="service-tab__column">
                        <div class="service-tab__info">
                            <span class="service-tab__num">45</span>
                            <p class="service-tab__paragraph paragraph">
                                Ordered in the last 24 hours
                            </p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">2 890</span>
                            <p class="service-tab__paragraph paragraph">The total number of completed works</p>
                        </div>
                        <div class="service-tab__info">
                            <span class="service-tab__num">100%</span>
                            <p class="service-tab__paragraph paragraph">Successfully completed works</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
