<section class="section trust">
    <div class="container">
        <div class="trust__wrapper">
            <div class="trust__item">
                <div class="title">
                    <h2 class="title__text">Get trusted thesis writing help</h2>
                </div>
                <p class="trust__paragraph paragraph">
                    Engaging a dissertation writing service is not the only way to go.
                    Long days at the library? Late nights getting the formatting right?
                    Some people are born for it. You don't need any thesis writing help
                    if you have what experienced dissertation writers have.
                </p>
                <p class="trust__paragraph paragraph">
                    It's a tough formula, but if you're like the thesis writers at
                    ThesisHelpers.com, you can make it work. Not sure you fit the bill?
                    There's a different path. Enter quality dissertation writing service
                    and let professional thesis helpers take charge.
                </p>
            </div>
            <div class="trust__item">
                <picture class="trust__picture">
                    <img src="../img/trust.svg" alt="picture">
                </picture>
            </div>
        </div>
    </div>
</section>
