<section class="section value">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Our values</h2>
            <p class="title__text-small">Get a look inside our minds. These are just a few tidbits of our philosophy.</p>
        </div>
        <div class="value__wrapper">
            <div class="value__item">
                <picture class="value__icon">
                    <img src="../img/value-1.svg" alt="icon">
                </picture>
                <div class="value__content">
                    <h3 class="value__title item-title">Powered by knowledge</h3>
                    <p class="value__paragraph paragraph">
                        Our writers boast master's and PhD degrees,
                        bringing niche expertise to every project we tackle.
                    </p>
                </div>
            </div>
            <div class="value__item">
                <picture class="value__icon">
                    <img src="../img/value-2.svg" alt="icon">
                </picture>
                <div class="value__content">
                    <h3 class="value__title item-title">Driven by passion</h3>
                    <p class="value__paragraph paragraph">
                        Unique talent and hard work make good things happen. But it takes a believer to break the mold.
                    </p>
                </div>
            </div>
            <div class="value__item">
                <picture class="value__icon">
                    <img src="../img/value-3.svg" alt="icon">
                </picture>
                <div class="value__content">
                    <h3 class="value__title item-title">Defined by results</h3>
                    <p class="value__paragraph paragraph">
                        Clients' trust is our future. You expect superior service, and
                        that's exactly what we're here to give you.
                    </p>
                </div>
            </div>
        </div>
        <div class="value__button">
            <a href="#" class="btn">Get a quote</a>
        </div>
    </div>
</section>
