<section class="section writing-list">
    <div class="container">
        <div class="title">
            <h2 class="title__text">All-Inclusive writing help</h2>
            <p class="title__text-small">Help with writing a thesis is right here – merely hold out your hand!</p>
        </div>
        <div class="writing-list__wrapper">
            <div class="writing-list__column">
                <h3 class="writing-list__title js-dropdown-title">Essay writing</h3>
                <ul class="writing-list__list js-dropdown-list">
                    <li class="writing-list__item">Essay service</li>
                    <li class="writing-list__item">Essay writers</li>
                    <li class="writing-list__item">Pay for essay</li>
                    <li class="writing-list__item">Buy essay</li>
                    <li class="writing-list__item">College essay service</li>
                    <li class="writing-list__item">Essay topics</li>
                    <li class="writing-list__item">Essay help</li>
                    <li class="writing-list__item">Write my essay</li>
                    <li class="writing-list__item">Essay service</li>
                </ul>
            </div>
            <div class="writing-list__column">
                <h3 class="writing-list__title js-dropdown-title">Term paper writing</h3>
                <ul class="writing-list__list js-dropdown-list">
                    <li class="writing-list__item">Essay service</li>
                    <li class="writing-list__item">Essay writers</li>
                    <li class="writing-list__item">Pay for essay</li>
                    <li class="writing-list__item">Buy essay</li>
                    <li class="writing-list__item">College essay service</li>
                    <li class="writing-list__item">Essay topics</li>
                    <li class="writing-list__item">Essay help</li>
                    <li class="writing-list__item">Write my essay</li>
                    <li class="writing-list__item">Essay service</li>
                </ul>
            </div>
            <div class="writing-list__column">
                <h3 class="writing-list__title js-dropdown-title">Research paper writing</h3>
                <ul class="writing-list__list js-dropdown-list">
                    <li class="writing-list__item">Essay service</li>
                    <li class="writing-list__item">Essay writers</li>
                    <li class="writing-list__item">Pay for essay</li>
                    <li class="writing-list__item">Buy essay</li>
                    <li class="writing-list__item">College essay service</li>
                    <li class="writing-list__item">Essay topics</li>
                    <li class="writing-list__item">Essay help</li>
                    <li class="writing-list__item">Write my essay</li>
                    <li class="writing-list__item">Essay service</li>
                </ul>
            </div>
            <div class="writing-list__column">
                <h3 class="writing-list__title js-dropdown-title">Other services</h3>
                <ul class="writing-list__list js-dropdown-list">
                    <li class="writing-list__item">Essay service</li>
                    <li class="writing-list__item">Essay writers</li>
                    <li class="writing-list__item">Pay for essay</li>
                    <li class="writing-list__item">Buy essay</li>
                    <li class="writing-list__item">College essay service</li>
                    <li class="writing-list__item">Essay topics</li>
                    <li class="writing-list__item">Essay help</li>
                    <li class="writing-list__item">Write my essay</li>
                    <li class="writing-list__item">Essay service</li>
                </ul>
            </div>
        </div>
    </div>
</section>
