<section class="section writers">
    <div class="writers__container container">
        <div class="writers__wrapper">
            <div class="writers__content">
                <h2 class="writers__title">TOP writers in one place</h2>
                <p class="writers__paragraph paragraph">The top 2% of academic talent is here for you</p>
                <a href="#" class="btn">Get a quote</a>
            </div>
            <picture class="writers__picture">
                <img src="../img/writers.svg" alt="picture">
            </picture>
        </div>
    </div>
</section>
